body {
    background-image: url(../images/wormz/wormz.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-weight: bold;
}

#crystalsCollector {
    background-color: #ca7127;
}

#gameInstructions {
    background-color: #fae7cd;
    color: #6b8b39;
}

#randomNumber {
    background-color: #5bc980;
    color: #571464;
    font-size: 38px;
}

#countersWinLose {
    background-color: #4afdfe;
    color: #571464
}

#totalScoreCount {
    font-size: 38px;
}